#{extends 'main.html' /}
#{set title:'Nuevo contacto' /}
<ul class="pills">
  <li class="active"><a href="#">Listar contactos</a></li>
  <li><a href="@{Agenda.newContact()}">Nuevo contacto</a></li>
  <li><a href="@{Agenda.search('', true)}">Buscar</a></li>
</ul>
<h1>Listar contactos</h1>
#{if flash.success}
    <div class="alert-message success">
        <a class="close" href="@{Agenda.list()}">X</a>
        <p>${flash.success}</p>
    </div>    
#{/if}





    <div class="span12">
	    <table class="condensed-table bordered-table zebra-striped">
	        <thead>
	          <tr>
	            <th>Nombre</th>
	            <th>Telefono</th>
	          </tr>
	        </thead>
	        <tbody>
	           #{list items:contacts, as:'c'}
			    <tr>
			        <td>${c.name}</td>
			        <td>${c.telephoneNumber}</td>
			    </tr>
               #{/list}
	        </tbody>
	    </table>
    </div>
    
